//!\\ Variables //!\\
$font-stack: Helvetica, sans-serif;
@font-face {
  font-family: Montserrat;
  src: url('/font/Montserrat-Regular.ttf') format('ttf');
}

//!\\ Colors //!\\
// main
$accent:                #eb4a42;
$background:            #fcfbfa;
$background-light:      #eaeaea;
// text
$text-primary:          #555;
$text-seconday:         #aaa;
$text-unimportant:      #ccc;
$text-button-disabled:  #bfbfbf;
// bits & bobs
$button-disabled-back:  #e0e0e0;

html {
  background-color: $background;
}

//Logo
h1 {
  color: $accent;
  font-family: Montserrat;
}

//secion headings
h2 {
  color: $text-primary;
}
