//!\\ Variables //!\\
$font-stack: Helvetica, sans-serif;
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@mixin rounded {
  border-radius: 3px;
}

//!\\ Colors //!\\
// main
$accent:                #eb4a42;
$background:            #fcfbfa;
$background-light:      #eaeaea;
// text
$text-primary:          #555;
$text-secondary:         #aaa;
$text-unimportant:      #ccc;
$text-button-disabled:  #bfbfbf;
// bits & bobs
$button-disabled-back:  #e0e0e0;

html {
  background-color: $background;
}

body {
  margin: 0;
  font-family: 'Roboto-Light';
}

h1 {
  color: $accent;
}

h2 {
  color: $text-primary;
  font-size: 22px;
}

p {
  color: $text-secondary;
}
