.logo {
  @include rounded;
  background: transparent;
  box-shadow: 0 51px 0 0 $accent;
  color: $accent;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 47px;
  height: 4px;
  letter-spacing: -.015em;
  margin-bottom: 51px;
  width: 252px;
}

.tag-line {
  display: inline;
  float: right;
  font-size: 16px;
  margin-top: 30px;
  padding: 0;
}

.input-holder {
  height: 44px;
  margin: 54px 0 77px;
  position: relative;

  .input-bar {
    @include rounded;
    background-color: $background-light;
    border: 0;
    color: $text-button-disabled;
    font-size: 14px;
    height: 44px;
    letter-spacing: .06em;
    padding:0 0 0 18px;
    width: 458px;

    &.has-input {
      color: $text-primary;
    }
  }

  button {
    background-color: $button-disabled-back;
    color: $text-button-disabled;

    &.active {
      background-color: $accent;
      color: $background;
    }
  }
}

.list-holder {

  .action {
    color: $accent;
    cursor: pointer;
    margin-left: 23px;
  }

  .summary {
    cursor: pointer;

    &:hover {

      .action {
        opacity: 1;
      }
    }
  }

  .summary.zeroclipboard-is-hover {
    .action{
      opacity: 1;
    }
  }

  table {
    margin: 34px 0;

    th {
      color: $text-button-disabled;
      font-family: 'Roboto-Regular';
      font-size: 14px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;

      p {
          margin: 0 0 34px;
      }

      &:first-child {
        text-align:left;
        width: 423px;
      }

      &:nth-child(2) {
        //padding-bottom:32px;
        width: 91px;
      }

      &:nth-child(3) {
        //padding-bottom:32px;
        width: 98px;
      }
    }

    td {
      padding: 0;
      text-align: center;

      p {
        @include ellipsis;
        margin:8px 0 35px;
        max-width: 370px;
      }

      .action {
        margin-left: 38px;
        opacity: 0;
      }

      .short{
        font-family: 'Roboto-Regular';
        font-size: 16px;
        color: $text-primary;
      }

      .shortcode {
        @extend .short;
        color: $accent;
      }

      &:first-child {
        text-align: left;
        width: 436px;
      }

      &:nth-child(2) {
        padding-bottom:32px;
        width: 100px;
      }

      &:nth-child(3) {
        padding-bottom:32px;
        width: 108px;
      }
    }
  }
}
